.glass-box {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.glass-box::after {
  content: "hi";
  height: 40%;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-color: #237bff;
  filter: blur(40px);
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: -5;
}
