.user-image-nav {
  height: 40px;
  width: 40px;
}

.logo-img {
  height: 30px;
  width: auto;
}

.login-button {
  background: transparent !important;
  border: 2px solid #237bff !important;
}

.login-button:hover {
  background: linear-gradient(to top, #4e95ff 0%, #237bff 100%) !important;
}

.profile_button {
  position: relative;
}

.dropdown {
  min-width: 200px;
  position: absolute;
  top: 100%;
  right: 0%;
  transition: all 0.3s linear;
  z-index: 20;
}

.dropdown-button:hover {
  background: #e6e6e6 !important;
}

@media (max-width: 960px) {
  .dropdown {
    right: 50%;
    transform: translateX(50%);
  }
}
