.newsDiv {
  min-height: 500px;
  background: #313646;
}

.h-350px {
  height: 350px;
}

.gs-button2 {
  background: #fff;
  height: 50px;
  width: 50px;
  border: 5px solid #237bff;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.gs-button2:hover {
  transform: scale(1.2);
}

.leftnewsbox {
  width: 50%;
}

.newsimgbox {
  width: 50%;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

@media (max-width: 1000px) {
  .leftnewsbox,
  .newsimgbox {
    width: 100%;
  }
}

.newsimgbox > img {
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.newsimgbox:hover > img {
  transform: scale(1.1);
}
