* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background: #1a1919;
}

::-webkit-scrollbar {
  width: 13px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 13px;
  -webkit-box-shadow: inset 0 0 10px 10px #474747;
  border: solid 3px transparent;
}

body,
html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.orbitron-font {
  font-family: "Orbitron", sans-serif;
}

.anton-font {
  font-family: "Anton", sans-serif;
}

.teko-font {
  font-family: "Teko", sans-serif;
}

.main_header_bg {
  background-color: #242327;
}

.text_cream_orange_01 {
  color: #f5f7f3;
}

.text_cream_orange_02 {
  color: #aaada5;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

p,
a {
  color: #b3b3b3;
  text-decoration: none;
}

a {
  cursor: pointer;
}

.dark_bg01 {
  background-color: #1a1919;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.fs-36 {
  font-size: 36px;
}

.fs-hamburger {
  font-size: 27px;
}

.min-h-250px {
  min-height: 250px;
}

.active_route {
  color: #237bff !important;
  transform: scale(1.3);
  padding: 1px 4px;
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.theme-button {
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  background: linear-gradient(to top, #4e95ff 0%, #237bff 100%);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transform: skewX(-15deg) !important;
}

.white-mbg {
  background: linear-gradient(to top, #dbdbdb 0%, #fff 100%) !important;
}

.theme-button:hover {
  transform: scale(1.1) !important;
}

.theme-color {
  color: #237bff;
}

@media (max-width: 600px) {
  .theme-border-img {
    width: 75%;
  }
}

.color-white {
  color: #dddddd !important;
}

.header_text {
  font-weight: 800;
  font-size: 40px;
}

.social-links {
  height: 40px;
  width: 40px;
}

.img_60 {
  width: 60%;
}

.img-40px {
  height: 40px;
  width: 40px;
}

.img-80px {
  height: 80px;
  width: 80px;
}

.width-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.height-50 {
  height: 50px;
}

.scale-1p2 {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.scale-1p2:hover {
  transform: scale(1.2);
}

.height-520 {
  height: 520px;
}

@media (max-width: 500px) {
  .height-520 {
    height: 350px;
  }
}

.header-img {
  height: auto;
}

.banner-common {
  /* background: linear-gradient(to top left, #237bff, #4e95ff); */
  background: radial-gradient(#237bff 15%, transparent 16%) 0 0,
    radial-gradient(#237bff 15%, transparent 16%) 8px 8px,
    radial-gradient(#4e95ff7a 15%, transparent 20%) 0 1px,
    radial-gradient(#4e95ff7a 15%, transparent 20%) 8px 9px;
  background-color: #4e95ff;
  background-size: 16px 16px;
}

.newsletter {
  background: radial-gradient(#237bff 15%, transparent 16%) 0 0,
    radial-gradient(#237bff 15%, transparent 16%) 8px 8px,
    radial-gradient(#4e95ff7a 15%, transparent 20%) 0 1px,
    radial-gradient(#4e95ff7a 15%, transparent 20%) 8px 9px;
  background-color: #4e95ff;
  background-size: 16px 16px;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
